*{
    box-sizing: border-box;
    margin: 0;

}
.container{
    display: grid;
    grid-template-areas:'header navbar navbar navbar navbar navbar'
                        'para para para para para para'
                        'subhead subhead subhead subhead subhead subhead'
                        'imglink1 imglink1 imglink2 imglink2 imglink3 imglink3'
                        'caption1 caption1 caption2 caption2 caption3 caption3'
                        'footer footer footer footer footer footer';
    width:1080px;
    margin: auto;
    background-color: whitesmoke;
}
.header{
    grid-area: header;
    background-color: cornflowerblue;
}
.header a{
    color:white;

    width:100%;
    height:150px;
    text-align:center;
}
.navbar{
    grid-area: navbar;
    background-color: lightblue;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float: right;

}
.navbar li a, .navbar li{
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.para{
    padding: 14px 16px;
    text-align: center;
    grid-area: para;
}
.subheading{
    grid-area: subhead;
}
.imgLinks1{
    grid-area: imglink1;
    padding: 10px;
}
.imgLinks2{
    grid-area: imglink2;
    padding: 10px;
}
.imgLinks3{
     grid-area: imglink3;
     padding: 10px;
 }


.caption1{
    grid-area: caption1;
    color: black;
    text-align: center;
    padding: 14px 120px;
    float: left
}
.caption2{
    grid-area: caption2;
    color: black;
    text-align: center;
    padding: 14px 120px;
    float: left
}
.caption3{
    grid-area: caption3;
    color: black;
    text-align: center;
    padding: 14px 120px;
    float: left
}
.footer{
    background-color: lightblue;
    text-align: center;
    grid-area: footer;
}