.grid-container{
    width: 80%!important;

    margin: auto;
    background-color: darkgray;
    padding: 10px;

    display: grid;
    grid-template-areas:'header header header header'
        'main-nav main-content main-content site-sidebar'
        'site-footer site-footer site-footer site-footer';
    gap: 10px 10px;
}


.site-header{
    text-align: center;
    font-size: x-large;
    background-color: lightblue;

    grid-area: header;

}
.main-nav{
    background-color: lightgray;
    padding: 10px;
    text-align: left;
    grid-area: main-nav
}
.main-nav h2{
    font-size: xx-large;
}
.main-content{
    background-color: white;
    padding: 30px;
    text-align: left;
    grid-area: main-content;

}
.main-content h2{
    font-size:xx-large;
}
.main-content p{
    font-size: large;
}
.site-sidebar{
    background-color: lightgray;
    padding: 10px;
    text-align: left;
    grid-area: site-sidebar;
}
.site-sidebar h2{
    font-size: xx-large;
}
.site-footer{
    background-color: navy;
    padding: 10px;
    text-align: center;
    grid-area: site-footer;
}
.site-footer p{
    color: white;
}
@media only screen and (max-width: 600px) {
    body{
        .site-header{
            grid-area: 1/ span 4;
        }
        .main-nav{
            grid-area: 5;
        }
        .main-content{
            grid-area: 7/ span 8;
        }
        .site-sidebar{
            grid-area: 6;
        }
        .site-footer{
            grid-area: 9/ span 12;
        }
    }
}
@media only screen and (min-width: 600px){
    body{
        .site-header{ grid-area: 1/ span 4; }
        .main-nav{ grid-area: 5; }
        .main-content{ grid-area: 6/ span 7; }
        .site-sidebar{ grid-area: 8; }
        .site-footer{ grid-area: 9/ span 12; }
    }
}

@media only screen and (min-width: 850px){
    body{
        .site-header{ grid-area: 1/ span 4; }
        .main-nav{ grid-area: 5; }
        .main-content{ grid-area: 6/ span 7; }
        .site-sidebar{ grid-area: 8; }
        .site-footer{ grid-area: 9/ span 12; }
    }
}
@media screen and (orientation: landscape){
    body{
        background-color: black !important;
        color: white;


        }
    }
